// This is a CSS only solution for Anna, but browser support sucks.

// avoid numbers that can be equal at some point of the infinite loop
$animation_1_loop: 11.2s ease-in-out 0s alternate infinite;
$animation_2_loop: 12.3s ease-in-out .57s alternate infinite;
$animation_3_loop: 13.5s ease-in-out 1.11s alternate infinite;

.Anna {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

	&.splash {
		transform: translateY(-50%) scale3d(2,2,1);
	}
}

/*----------- ANIMATIONS ----------- */

.yellow__bubble path{
  animation: yellowBubble $animation_1_loop, rotate 90s infinite;
	transform-origin: center center;
}

@keyframes rotate{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes yellowBubble {
  0% {
    d: path(
      "M170.017071,266.234523 C243.792414,288.960766 275.005059,225.516673 257.034143,179.117262 C239.063226,132.717851 218.075273,92 170.017071,92 C121.95887,92 83,131.003727 83,179.117262 C83,227.230797 96.2417282,243.508281 170.017071,266.234523 Z"
    );
  }
  33% {
		d: path(
			"M149.085231,289.321739 C211.050755,297.202353 269.82218,271.04099 269.82218,194.137583 C269.82218,117.234175 187.712537,92.5244767 136.308834,98.9534269 C84.9051308,105.382377 71.0728772,115.172053 60,165 C48.9271228,214.827947 87.1197062,281.441125 149.085231,289.321739 Z"
		);
  }
  66% {
		d: path(
			"M198.031624,284.063248 C253,284.063248 277,263.031624 277,220 C277,176.968376 278,96 204,96 C130,96 96,139.933761 96,188 C96,236.066239 143.063248,284.063248 198.031624,284.063248 Z"
		);
  }
  100% {
		d: path(
			"M160.017071,259.234523 C234.034143,248.469047 253,226 247.034143,172.117262 C241.068285,118.234523 224,80 160.017071,85 C96.0341425,90 73,124.003727 73,172.117262 C73,220.230797 86,270 160.017071,259.234523 Z0"
		);
  }
}
.red__bubble path{
	animation: redBubble $animation_2_loop, rotate 90s infinite;
	transform-origin: center center;
}

@keyframes redBubble {
  0% {
    d: path(
      "M188,251 C233.287349,251 270,214.293132 270,169.012915 C270,123.732698 262.45977,47.4458577 188,87.0258299 C113.54023,126.605802 106,123.732698 106,169.012915 C106,214.293132 142.712651,251 188,251 Z"
    );
  }
  33% {
		d: path(
			"M201.102012,254.247339 C250.011526,254.247339 289.660521,214.598344 289.660521,165.68883 C289.660521,116.779316 262.214034,76.5145503 201.102012,77.130321 C139.989989,77.7460917 112.543503,116.779316 112.543503,165.68883 C112.543503,214.598344 152.192498,254.247339 201.102012,254.247339 Z"
		);
  }
  66% {
    d: path(
			"M163,284 C221,295 259,234.293132 259,189.012915 C259,143.732698 209,80 140,97 C71,114 62,154 62,188 C62,222 105,273 163,284 Z"
    );
  }
  100% {
		d: path(
			"M207.385303,255.84999 C265,266 293.541213,202.929373 289.770606,173.464686 C286,144 275,132 230,114 C185,96 130,142.499853 130,188 C130,233.500147 149.770606,245.699979 207.385303,255.84999 Z"
		);
  }
}
.blue__bubble path{
	animation: blueBubble $animation_3_loop, rotate 90s infinite;
	transform-origin: center center;
}

@keyframes blueBubble {
  0% {
    d: path(
      "M176.402367,290.794763 C236.813326,265.328994 286,274.227341 286,204.531553 C286,134.835765 209.455621,59.1418688 164.804734,118.268344 C120.153846,177.394818 90,150.494818 90,204.531553 C90,258.568288 115.991408,316.260532 176.402367,290.794763 Z"
    );
  }
  33% {
    d: path(
			"M183.402367,277.794763 C243.804734,289.589526 293,295.063107 293,191.531553 C293,88 195,29 144,88 C93,147 87,137.494818 87,191.531553 C87,245.568288 123,266 183.402367,277.794763 Z"
    );
  }
  66% {
    d: path(
			"M184.031624,283.063248 C257.819305,305.76715 289.03717,242.385424 271.063248,196.031624 C253.089326,149.677824 232.097863,109 184.031624,109 C135.965385,109 97,147.965385 97,196.031624 C97,244.097863 110.243943,260.359346 184.031624,283.063248 Z"
    );
  }
  100% {
    d: path(
			"M170.961538,272.117043 C230,290 277,272.452055 277,203 C277,133.547945 207.846154,100.193966 159.423077,100.193966 C111,100.193966 85,132.307741 85,186.155504 C85,240.003268 111.923077,254.234086 170.961538,272.117043 Z"
    );
  }
}
