$animationDuration:   0.5s;
$animationEffect:   cubic-bezier(0.645, 0.045, 0.355, 1);
$font:        'Helvetica', sans-serif;
$background:  #E1E1E1;
$baseFs:			14px;

$pf_yellow:		#FFCC00;
$pf_red:			#E40964;
$pf_blue:			#6CCBDF;
$pf_green:		#2DBB8F;
