// avoid numbers that can be equal at some point of the infinite loop
$animation_1_loop: 11.2s ease-in-out 0s alternate infinite;
$animation_2_loop: 12.3s ease-in-out .57s alternate infinite;
$animation_3_loop: 13.5s ease-in-out 1.11s alternate infinite;

.Anna {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

	&.splash {
		transform: translateY(-50%) scale3d(2,2,1);
	}
}

/*----------- ANIMATIONS ----------- */

.yellow__bubble path, .red__bubble path {
  animation: rotateClockwise 90s infinite;
	transform-origin: center center;
}
.blue__bubble path{
  animation: rotateCounterClockwise 90s infinite;
	transform-origin: center center;
}

@keyframes rotateClockwise{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes rotateCounterClockwise{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
