@import '_base.scss';

.Anna {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	// short transition between states
	transition: all 0.2s $animationEffect;
	transform: translateY(-50%);
	&.full {
		// longer transitions between color changes in full state
		transition: all 0.5s $animationEffect;
		.bubbles__yellow use{
			transition: all 0.5s $animationEffect;
		}
		&.step_0{
			background: adjust_color($pf_yellow, $hue: 10deg);
			.bubbles__yellow use{
				fill: $pf_yellow;
			}
		}
		&.step_1{
			background: adjust_color($pf_red, $hue: 10deg, $lightness: 20%);
			.bubbles__yellow use{
				fill: $pf_red;
			}
		}
		&.step_2{
			background: adjust_color($pf_blue, $hue: 10deg, $lightness: 10%);
			.bubbles__yellow use{
				fill: $pf_blue;
			}
		}
		&.step_3{
			background: adjust_color($pf_green, $hue: 10deg, $lightness: 10%);
			.bubbles__yellow use{
				fill: $pf_green;
			}
		}
	}
	&.passive, &.notify, &.toast{
		z-index: 3;
	}
	.Anna__notify.is--visible{
		opacity: 1;
		visibility: visible;
		transform: scale3d(1,1,0);
		.notify__outer {
			transform-origin: inherit;
			animation: pulsar 1s $animationEffect alternate infinite;
		}
	}
	.Anna__close.is--visible{
		opacity: 1;
		visibility: visible;
		transform: scale3d(1,1,0);
	}
	.Anna__notify, .Anna__close{
		opacity: 0;
		visibility: hidden;
		transform: scale3d(0,0,0);
		transform-origin: right top;
		transition: all $animationDuration $animationEffect;
	}
}
.Anna__SVG {
	transition: all 0.5s $animationEffect;
	overflow: visible;
	.center &{
		transform: scale3d(0.5,0.5,1);
	}
	.full & {
		transform: scale3d(1.7,1.7,1);
		.bubbles__red, .bubbles__blue{
			visibility: hidden;
		}
	}
	.passive &, .notify &, .toast & {
		cursor: pointer;
		transform: translate3d(38%, 45%, 0) scale3d(0.125, 0.125, 1);
	}
	#mask {
		circle {
			transition: all 0.5s $animationEffect;
			r: 1000;
		}
		.passive &, .notify &, .toast & {
			circle {
				r: 500;
			}
		}
	}
	.yellow__bubble path, .red__bubble path {
	  animation: rotateClockwise 90s infinite;
		transform-origin: center center;
	}
	.blue__bubble path{
	  animation: rotateCounterClockwise 90s infinite;
		transform-origin: center center;
	}
}

/*----------- KEYFRAME ANIMATIONS ----------- */

@keyframes pulsar{
	0%{
		transform: scale3d(0,0,0), translate(2%, -2%);
		opacity: 1;
	}
	100%{
		transform: scale3d(1.75,1.75,0) translate(2%, -2%);
		opacity: 0;
	}
}

@keyframes rotateClockwise{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes rotateCounterClockwise{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
