$animation:    cubic-bezier(0.4, 0.01, 0.165, 0.99);
$font:         'Helvetica', sans-serif;
$background:   #E1E1E1;

* {
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: $font;
    background: $background;
}
